
$clr-yellow :#e7ab3c;

// $clr-white1 : #f3f3f3;
$clr-white1 : white;

$clr-white2 : #d1d1d16e;

$clr-black1 :#191919;
$clr-black2 :#000000c4;
$clr-black3 :#212529;

$clr-grey1 : #3B3B3B;
$clr-grey2 : #4C4C4C;
$clr-grey3 : #6c757d;
$clr-grey4 : #b2b2b2;
$clr-green : #76BC42;

